.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #496899;
  color: white;
}
.titulo h1{
  font-size: 30px;
}

.page {
    width: 100%;
    min-height: calc(100vh - 136px); 
}
.contenido {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 50px; 
}